@charset "UTF-8";

main img{
    width: 100%;
}
header{
    background-color: black;
    color: white;
    padding: 40px;
    margin: auto;
}
header >h1{
    text-align: center;
    padding-top: 50px;
    margin: 0px;
    font-variant: small-caps; 
    font-size: 8vw;
    
}
header > h3{
    text-align: center;
    margin: 0px;
}
p{
    padding: 60px;
    background-color: white;
    margin: 20px;
    text-align: justify;
    

}
main{
    background-color: white;
    text-align: left;
    font-size: 2em;
   
    
}
a{
    text-decoration: none;
    color: grey;
}
a:hover{
    color: red;
    text-decoration: underline;
}
div.box01{
    background-color: rgb(51, 50, 50);
   
    padding: 50px;
    width: 300px;
    text-align: left;
    opacity: 0.7;
    
}
div.box02{
    background-color: rgb(51, 50, 50);
   
    padding: 30px;
    width: 300px;
    text-align: left;
    opacity: 0.7;
    
}
section{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section:nth-of-type(1){
    background-image: url('imagens/background001.jpg');
   height: 95vh;

}
section:nth-of-type(2){
    background-image: url('imagens/background002.jpg');
    height: 95vh;
  
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;

}

